* {
  margin: 0;
  padding: 0;
}

body {
  background: url('/src/images/background.jpg') no-repeat;

  nav {
    a {
      i {
        img {
          margin-top: 0.5vw;
          margin-right: -10px;
          height: 2.5vw;
          cursor: pointer;
        }
      }
    }
  }

  #content {
    margin-top: 5px;
    padding: 2.5vw;
    width: 33.75vw;
    height: 45vw;
    background: url('/src/images/paper.png') no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 60vw;

    #menu {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 100px;
      width: 100%;

      li {
        background-color: #5f5f5f3b;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: white;
        border-bottom: 2px solid transparent;
        transition: 350ms;
        cursor: pointer;

        &:hover {
          background-color: #ffffff57;
          color: black;
        }
      }
    }

    #list,
    #table,
    #table * {
      transition: 350ms;
    }

    #list {
      width: 100%;
      height: 80%;
      overflow-y: auto;
      border: 1px solid #ffffffb2;
      border-top: none;
    }
  }

  .contact-form {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.267);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 350ms;

    form {
      background-color: #8d6e63;
      position: relative;
      width: 20vw;
      height: 10vw;
      padding: 50px;
      box-sizing: content-box;
      box-shadow: 0 0 15px #000;

      #email:focus + label {
        color: #ffc107 !important;
      }

      #email:focus {
        border-bottom: 1px solid #ffc107 !important;
        box-shadow: 0 1px 0 0 #ffc107 !important;
      }
    }

    .close-btn {
      position: absolute;
      top: 2px;
      right: 2px;
      cursor: pointer;
      transition: 350ms;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  .contact-btn {
    position: fixed;
    right: 15px;
    bottom: 15px;
    transition: 350ms;
  }

  blockquote {
    position: fixed;
    left: 20vw;
    top: 50vh;
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 10px #000;
    background-color: #0004;
    padding: 10px;
  }
}

.active-btn {
  border-bottom: 2px solid #ee6e73 !important;
}

@media only screen and (max-width: 1000px) {
  body {
    background-position: -500px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #content {
      margin: 0;
      width: 82vw;
      height: 110vw;
    }

    blockquote {
      position: static;
    }

    .contact-form {
      form {
        width: 40vw;
        height: 20vw;
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  body {
    #content {
      #menu {
        li {
          font-size: 1rem;
        }
      }
    }
  }
}
